version: '3'

# see .env.example for environment variable setup

services:
  jnet_dev:
    build:
      context: ../
      dockerfile: docker/Dockerfile_dev
    volumes:
      - ./config.edn:/netrunner/config.edn
      - ${NETRUNNER}/src:/netrunner/src
      - ${NETRUNNER}/data:/netrunner/data
      - ${NETRUNNER}/resources/public/img/cards:/netrunner/resources/public/img/cards
      - ${NETRUNNER_DATA}:/netrunner-data
    networks:
      - db_network
    depends_on:
      - mongodb
    ports:
      - 1042:1042               # jinteki port
      - 42053:42053             # lein repl port

  # jnet_card_fetch:   # only needs to run once unless you want to change stuff
  #   build:
  #     context: ../
  #     dockerfile: docker/Dockerfile_fetch
  #   volumes:
  #     - ./config.edn:/netrunner/config.edn
  #     - ${NETRUNNER_DATA}/edn/:/netrunner/edn/
  #   networks:
  #     - db_network
  #   depends_on:
  #     - mongodb

  mongodb:
    image: mongo:3.6.8
    networks:
      - db_network
    volumes:
      - ${MONGODB_DIR}:/data/db

networks:
  db_network:
